<form action="/" method="post" enctype="multipart/form-data">
    <header class="text-center navbar fixed-top">
        
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="~/banner.png" alt="MSC - VESSEL POSITION" class="rounded" role="img" />
        </a>

        @Html.Partial("_Menu")

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="openNav()"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

    </header>
</form>

